*{

    margin: 0;
    padding: 0;
}

.container1 {
    width: 100%;
    height: 485px;
    background-color:white;
    border: black solid 3px;
    /* display: flex; */
    padding: 10px;
   
    
  
}

.container2 {

    width: 720px;
    height: 50px;
    background-color:black;
    border: black solid 3px;
    display: flex;
    justify-content:space-around;
    position: absolute;
    left: 8px;
    top: 8px;
    padding: 10px;
   

 

}

.container3 {

    width: 315px;
    height: 220px;
    background-color:white;
    border: grey solid 3px;
    display: flex;
    position: absolute;
    left: 90px;
    top: 100px;
    margin: 10px;
}

.container4 {

    width: 315px;
    height: 140px;
    background-color:white;
    border: grey solid 3px;
    /* display: flex; */
    position: absolute;
    left: 90px;
    top: 355px;
    margin: 10px;
    border: solid 3px grey;
    border-bottom: white;
}

.container5 {
    width: 210px;
    height:150px;
    background-color:white;
    border: grey solid 3px;
    /* display: flex; */
    position: absolute;
    left: 440px;
    top: 100px;
    margin: 10px;
}

.container6 {
    width: 210px;
    height: 210px;
    background-color: white;
    border: grey solid 3px;
    /* display: flex; */
    position: absolute;
    left: 440px;
    top: 280px;
    margin: 10px;
    
}

.contj3 {
    width: 315px;
    height: 70px;
    background-color: #17a2b8 ;
    border: #17a2b8 solid 3px;
}

.contj4{

    width: 315px;
    height: 40px;
    background-color:#333333  ;
    border: #333333 3px;
   
}


.contj5 {
    width: 210px;
    height: 40px;
    background-color:#333333 ;
    border: #333333 solid 3px;
}

.contj6{

    width: 210px;
    height: 40px;
    background-color:#333333 ;
    border: #333333 solid 3px;
}


.contjj6{

    width: 210px;
    height: 23px;
    background-color:white ;
    border:grey  solid 1px;
    position: absolute;
    top: 186px; ;
}

.usercircle {
    width: 85px ;
    height:85px;
    position: relative;
    top: 32px; ;
    left: 28px;
}


.button {
    border: 3px solid rgb(11, 11, 11);
    color: white ;
    background-color: #17a2b8;
    width: 72px;
    height: 32px;
    position: relative;
    top: 10px;
   
}

.pra{
    color: white;
    margin: 10px;
    font-size: 30px;
}

.link{
    color: white;
    margin: 10px;
    text-decoration: none;
    font-size: 15px;
    
}

.contj2{
    height: 50;
    width: 650;
    justify-content: space-between;
    display: flex;
   
   
    
}

.user {
    width: 68px;
    height: 68px;
    position:absolute;
    left: 28px;
    top: 32px;

}

.jan{
    position: absolute;
    top: 93px;
    left: 24px;
    margin-top: 4px;
   font-style:oblique;
}

.marker{
    width: 8px;
    height:13px ;
    position: absolute;
    left: 26px;
    top: 129px;

}

.set{
    position: absolute;
    left: 41px;
    top: 126px;
}

.develop{
    font-size: 12px;
    position: absolute;
    left: 26px;
}

.gear{
    width: 12px;
    height:12px ;
    position: absolute;
    left: 26px;
    top: 190px;
}

.edit{
    position: absolute;
    left: 42px;
    top: 189px;
    font-size: 13px;
}

.img2{
    width: 20px;
    height:20px ;
    position: absolute;
    left: 20px;
    top: 16px;
}

.con{
    position: absolute;
    left: 49px;
    top: 15px;
    color: white;
}

.tod{
    width: 30px;
    height: 30px;
    position:absolute;
    left: 18px;
    top: 56px;
}

.tode{
    position:absolute;
    left: 57px;
    top: 63px;
    font-weight: bold;
    font-size: 14px;
}

.accept1{
    width: 20px;
    height: 20px;
    position:absolute;
    left: 150px;
    top: 62px;
}

.close1{
    width: 20px;
    height: 20px;
    position:absolute;
    left: 180px;
    top: 62px;
}

.phil{
    width: 30px;
    height: 30px;
    position:absolute;
    left: 18px;
    top: 100px;
}

.philk{
    position:absolute;
    left: 57px;
    top: 105px;
    font-weight: bold;
    font-size: 14px;

}

.accept2{
    width: 20px;
    height: 20px;
    position:absolute;
    left: 150px;
    top: 103px;
}

.close2{
    width: 20px;
    height: 20px;
    position:absolute;
    left: 180px;
    top: 103px;
}

.img500{
    width: 39px;
    height:23px ;
    position: absolute;
    left: 16px;
    top: 11px;
}

.yourcon{
    position: absolute;
    left: 65px;
    top: 14px;
    color: white;
}

.adrien {
    width: 28px;
    height: 28px;
    position:absolute;
    left: 18px;
    top: 50px;
}

.adriend {
    position:absolute;
    left: 57px;
    top: 56px;
    font-weight: bold;
    font-size: 14px;
}

.anne{
    width: 28px;
    height: 28px;
    position:absolute;
    left: 18px;
    top: 85px;
}

.annej{
    position:absolute;
    left: 57px;
    top: 90px;
    font-weight: bold;
    font-size: 14px;
}

.alyane{
    width: 28px;
    height: 28px;
    position:absolute;
    left: 18px;
    top: 118px;

}

.alyanes{
    position:absolute;
    left: 57px;
    top: 123px;
    font-weight: bold;
    font-size: 14px;
}

.arry{
    width: 28px;
    height: 28px;
    position:absolute;
    left: 18px;
    top: 153px;
}

.arryy{
    position:absolute;
    left: 57px;
    top: 158px;
    font-weight: bold;
    font-size: 14px; 
}

.view{
    position: absolute;
    left: 18px;
    top: 4px;
    font-size: 13px;
    font-style: inherit ;
}
   
.edu{
    position: absolute;
    left: 30px;
    top: 12px;
    color: white;
}

.dojo{
    font-size: 12px;
    position: absolute;
    top: 54px;
    left: 30px;
    font-size: 16px;
    font-style: unset;
    font-weight: bold;
    
}

.date{
    font-size: 12px;
    position: absolute;
    top: 80px;
    left: 30px;
    font-size: 13px;
    font-style: unset;
    color: rgb(80, 75, 75);
    
   
}

.triple{
    font-size: 12px;
    position: absolute;
    top: 105px;
    left: 30px;
    font-size: 13px;
    font-style: unset;
    color: black;
    font-weight: bold;
   
}