<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=ninjas, initial-scale=1.0">
    <title>dojos ninjas templates</title>
    <style>
        .container{
            display: flex;
            justify-content: space-around;
           
            width: 60%;
            margin: 0 auto;
        }

        .db{
            margin: 0 auto;
            width: 50%;
            text-align: center;
            margin-top: 5%;
        }
    </style>
</head>
<body>
    <div class="container">
        <form method="post" action="/Dojo">
          <div class="cont1">
            <h1>Add a Dojo</h1>
               {% csrf_token %}
            <label>Name</label>
            <input type="text" name="name" id="dojo_name"><br><br>
            <label>City</label>
            <input type="text" name="city" id="dojo_city"><br><br>
            <label>State</label>
            <input type="text" name="state" id="dojo_state"><br><br>
            <button type="submit">add</button>
          </div>
        </form>
        <form method="post" action="/Ninja">
          <div class="cont1">
            <h1>Add a Ninja</h1>
              {% csrf_token %}
            <label>First Name</label>
            <input type="text" name="first_name" id="first_name" ><br><br>
            <label>Last Name</label>
            <input type="text" name="last_name" id="last_name"><br><br>
            <label>Dojo</label>
            <select type="select" name="select_dojo" id="select_dojo" aria-valuetext="-select a dojo-">
                <option></option>
            </select><br><br>
            <button type="submit">Add</button>
          </div> 
       </form>  
        
    </div>

    <div class="db">
        <h1>All the Dojos</h1>
        {%for dojo in All_dojos %}
        <p>Ninjas at the {{dojo.name}}</p>
        {%for ninja in dajo.ninjas.all%}
        <li>{{ninja.first_name}} {{ninja.last_name}}</li>
        {%endfor%}
        {%endfor%}
    </div>

    
</body>
</html>