<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Edit Show</h1>
            <a href="/shows">Go Back</a>
        </div>
        {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
        {% endif %}
        <form action="/update/{{show.id}}" method="post">
            {%csrf_token%}
                <div class="tilte">
                    <label>Title</label>
                    <input type="text" name="title" value="{{show.title}}">
                </div>
                <div class="netdate">
                    <div class="network">
                        <label >Network</label>
                        <input type="text" name="network" value="{{show.network}}">
                    </div>
                    <div class="releasedate">
                        <label>Relaease Date</label>
                        <input type="date" name="release_date" >
                    </div>
                </div>
                <div class="description">
                    <label>Description</label>
                    <textarea name="description">{{show.description}}</textarea>
                </div>
                <input type="submit" name="update" value="Update">
    
        </form>
        <a href="/shows/{{show.id}}">Go to show</a>
        

    </div>

</body>
</html>